input.project-name
{
	border: 1pt solid gray;
}

input.project-name:placeholder-shown
{
	border-color: red;
}


input.project-labels
{
	border: 1pt solid gray;
}

input.project-labels:placeholder-shown
{
	border-color: red;
}

div.card-title
{
	font-size: 8pt;
	word-break: break-all;
}

div.card-text
{
	font-size: 9pt;
}

button.selected-label-button
{
    border: 2px solid #000;
    border-radius: 5px;
}